<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic-index-single">
          <h2 class="topic-author">
            <%= @topic.user.name %>
          </h2>
          <%= image_tag @topic.image.url %>
          <% if !@topic.favorite_users.include?(current_user) %>
            <%= link_to favorites_path(topic_id: @topic.id), method: :post do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to favorites_path(topic_id: @topic.id), method: :delete do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <%= @topic.favorites.count%>
          <p class="topic-text">
            <%= @topic.description %>
          </p>
        
          <div class="comment_list">
            <% @comments.each do |comment| %>
              <p class="comments" data-id=<%= comment.id %>><%= comment.content.html_safe %></p>
            <% end %>
          </div>
        </div>
        
        <%= form_for @comment do |f| %>
          <div class="form-group">
            <%= f.label :Comment %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          <%= f.hidden_field :topic_id, :value => @topic.id %>
          <%= f.submit 'コメントを追加', class: 'btn btn-black btn-block' %>
        <% end %>
    
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  function buildcomment(comment) {
    // 新着コメントを表示
    if (null != comment && '' != comment) {
      var comments = $('.comment_list').append('<p class="comments" data-id=' + comment.id + '>' + comment.lines + '</p>');
    }
  }
  $(function(){
    //10000ミリ秒ごとにajaxで新着コメントを問合せ
    setInterval(update, 10000);
  });
  function update(){
    if($('.comments')[0]){ //もし'comments'というクラスの要素があれば
      var comment_id = $('.comments:last').data('id'); //一番最後のコメントIDを問い合わせに使う
    } else { //ない場合は0を問い合わせに使う(最初のコメントが新着コメントとなる)
      var comment_id = 0
    }
    $.ajax({ //ajax通信
      url: location.href, //urlは現在のページを指定
      type: 'GET', //メソッドを指定
      data: { //railsに引き渡すデータは
        comment: { id: comment_id, topic_id: $('.topic_id').val() } //このような形(paramsの形をしています)で、'id'には'comment_id'を入れる
      },
      dataType: 'json' //データはjson形式
    })
    .done(function(data){ //通信成功なら受け取ったデータ（@new_comment)を引数にとって以下のことを行う
      $.each(data, function(i, data){ //'data'を'data'に代入してeachで回す
        buildcomment(data); //buildcommentを呼び出す
      });
    })
    .fail(function(data){ //失敗したら、何もしない
    });
  }
});
</script>